.header-menu{
    background-color: #c3c6d0; 
}

.list{
    list-style: none;
}

.header-menu-list{
    display: flex;
    justify-content: flex-start;
}

.header-menu-item{
    padding: 30px;
}

.link{
    color: #Ffffff;
    text-decoration: none;
}